@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Palanquin+Dark:wght@700&display=swap');




body{
  background-color: rgb(41, 39, 39);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#lottery_box{
  background-color: white;
  padding: 10px;
  height: 500px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#lottery_box button{
  padding: 25px 40px;
  border-radius: 0px;
  font-weight: 400;
  font-size: 12px;
  font-family: Merriweather Sans;
  border: 2.50px solid  rgb(155, 154, 154);
  background-image: linear-gradient(rgb(235, 231, 231) 20%, rgba(192, 192, 191, 0.87) 80%);
}

#lottery_box button:hover{
  background-image: linear-gradient(rgb(156, 243, 255) 20%, rgb(127, 240, 255) 80%);
  padding: 25px 40px;
  border-radius: 0px;
  border: 2.50px solid lightseagreen;
}


h1{
  font-size: 20px;
  font-weight: 800;
  font-family: Palanquin Dark;
}

h2{
  
  font-size: 16px;
  font-weight: 800;
  font-family: Palanquin Dark;
}

p{
  font-weight: 600;
  font-size: 11px;
  
}


.counters{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;
  flex-direction: column;
}

.container{
  padding: 5px;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  flex-direction: row;
  
}

.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: merriweather sans;
  font-weight: 800;
  padding: 5px;
  font-size: 12px;
}

.your-number{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-family: Palanquin Dark;
  font-size: 12px;
  
}

#alert-lose{
  width: 325px;
  height: 150px;
  background-color: whitesmoke;
  border: solid rgba(126, 199, 228, 0.363) 1.75px;
  position: absolute;
  top: 40%;
  display: none;
  transition: all 1s;
}

#alert-lose h3{
  text-align: left;
  top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 600;
  font-family: open sans;
  font-size: 15px;

}
#alert-lose p{
  text-align: left;
  top:20px;
  padding-left: 10px;
  font-weight: 200;
  font-family: open sans;
  font-size: 12px;
}

 #alert_button{
  width: 150px;
  height: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: lightgrey;
  border-radius: 0px;
  border: 0px;
  font-family: open sans;
  color:rgba(0, 0, 0, 0.836);
}

 #alert_button:hover{
 width: 150px;
 height: 25px;
 text-transform: uppercase;
 border: 2px rgba(128, 128, 128, 0.781) solid;
}

#alert_x{
 width: 20px;
 height: 20px;
 font-weight: 400;
 position: absolute;
 right: 0px;
 margin: 5px;
 padding: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
 border: none;
 font-family:open sans;
 background-color: rgba(245, 245, 220, 0);
}


#alert-win{
  width: 325px;
  height: 150px;
  background-color: whitesmoke;
  border: solid rgba(126, 199, 228, 0.363) 1.75px;
  position: absolute;
  top: 40%;
  display: none;
  transition: all .5s;
}

#alert-win h3{
  text-align: left;
  top: 20px;
  padding-left: 10px;
  padding-top: 10px;
  font-weight: 600;
  font-family: open sans;
  font-size: 15px;

}
#alert-win p{
  text-align: left;
  top:20px;
  padding-left: 10px;
  font-weight: 200;
  font-family: open sans;
  font-size: 12px;
}


